DATABASE_URL="postgresql://kaklen:kaklen@localhost:5432/kaklen?schema=public"
POSTGRES_PORT=5432
API_PORT=3000
WEB_PORT=4200
JWT_ACCESS_SECRET="change-me-access-secret-at-least-32-characters"
JWT_REFRESH_SECRET="change-me-refresh-secret-at-least-32-characters"
JWT_ACCESS_EXPIRES_SECONDS=900
JWT_REFRESH_EXPIRES_SECONDS=604800
COOKIE_SECURE=false
